{% extends "base.html" %}
{% import "macros.html" as m %}
{% block content %}
{% if area %}
  {{m.area_header(area)}}
  {% for setting in settings.values() %}
    <h3>{{setting.name}}</h3>
    {% for opportunity in setting.opportunities %}
      {{ m.card(title=opportunity.name, description=opportunity.teaser, image=opportunity.image|format_image_url, link=opportunity.url(area.id)|format_url, quality_requirements=opportunity.quality_requirements, icon_border=opportunity.color) }}
    {% endfor %}
    {% for storylet in setting.storylets %}
      {{ m.section(title=storylet.name, description=storylet.teaser, image=storylet.image|format_image_url, button_text="Go", link=storylet.url(area.id)|format_url, quality_requirements=storylet.quality_requirements, icon_border=storylet.color, disabled=not storylet.description) }}
    {% endfor %}
    <hr />
  {% endfor %}
{% else %}
  <p><em>Data for this area is not available yet.</em></p>
{% endif %}
  <div class="buttons-group">
    <a href="{{'/areas'|format_url}}" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Perhaps Not</a>
  </div>
{% endblock %}
