{% macro section(title, description, image, button_text, link, challenges=None, quality_requirements=None, action_cost=1, icon_border=None, indented=False, disabled=False) -%}
  <div class="section section-flex {% if indented %}section-indented{% endif %}">
    <div class="section-side">
      <div class="section-icon {% if icon_border %}section-icon-border section-icon-{{icon_border|lower}}{% endif %}">
        <a {% if not disabled %}href="{{link}}"{% endif %}><img src="{{image}}" alt="Card" height=99 /></a>
      </div>
    </div>
    <div class="section-body section-body-spaced">
      <div>
        <h3>{{title|unknown|safe}}</h3>
        <p>{{description|unknown|safe}}</p>
      </div>
      {% if challenges %}
      <div class="challenges">
        {% for challenge in challenges %}
        <div class="challenge">
          <div class="icon challenge-icon">
            <img src="{{challenge.image|format_image_url}}" alt="{{challenge.name}}" />
          </div>
          <div class="challenge-body">
            <div class="challenge-description">{{challenge.description|safe}}</div>
            Your {{challenge.name}} quality gives you a {{challenge.target}}% chance of success.
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      <div class="buttons-group">
        <a href="{{link}}" class="section-btn btn btn-primary {% if disabled %}disabled{% endif %}">
          {{button_text}}
          {% if action_cost != 1 %}<span class="action-cost">({{action_cost}})</span>{% endif %}
        </a>
        {% if quality_requirements %}
          {% for qr in quality_requirements|reverse %}
            <div class="icon" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" title="{{qr.summary}}">
              <img src="{% if qr.image %}{{qr.image|format_image_url}}{% else %}{{'/icons/questionsmall.png'|format_image_url}}{% endif %}" alt="{{qr.quality.name}}" />
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
{%- endmacro %}

{% macro card(title, description, image, link, quality_requirements, icon_border) -%}
  <div class="card section-icon {% if icon_border %}section-icon-border section-icon-{{icon_border|lower}}{% endif %}">
    <a href="{{link}}" style="display: block" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" title="<div class='tooltip-title'>{{title}}</div><div class='tooltip-description'>{{description}}</div>{% for qr in quality_requirements %}<div class='tooltip-description'><em>{{qr.summary}}</em></div>{% endfor %}">
      <img src="{{image}}" alt="Card" height=99 />
    </a>
  </div>
{%- endmacro %}

{% macro area_header(area) -%}
{% if area %}
  <a href="{{area.url|format_url}}"><h2 class="h2-title">{{area.name}}</h2></a>
  {% if area.image %}
    <a href="{{area.url|format_url}}"><img src="{{area.image|format_image_url}}" alt="{{area.name}}" style="width: 100%;" /></a>
  {% endif %}
  <hr />
{% endif %}
{%- endmacro %}
